// COLORS
$primaryColor: #FCE762;
$offWhite: #FFFDED;
$backgroundColor: #FFFDED;
$secondaryColor: #5B5F97;
$darkGrey: #333333;
$primaryButtonColor: #ff6b6c;
$white: #FFFFFB;
$pink: #ff6b6c;
$darkBlue: #161528;
$lightBlue: #b8b8d1;
$yellow: #FFC145;

// BOX SHADOW
$primaryBoxShadow: 2px 4px $darkGrey;