.home {    
    height: 100vh;
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 24px;   
}

.home-title {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-title h1 {
    font-size: 40px;
    text-align: center;
}