.home {    
    min-height: 100vh;
    /* width: auto;
    max-width: 600px; */
    margin: 0 auto;
    margin-top: 40px;
    padding-right: 24px;
    padding-left: 24px;
}

.home-container {
    margin-top: 40px;
    padding: 24px;
}

.title {
    color: #FCE762;
}