@import '../../theme/_index';

.footer {
    width: 100%;
    padding: 16px;  
    z-index: 0;
    border-top: 4px solid $grey;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    font-size: 12px;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    transition: color 0.5s;
}

.footer-links a:hover {
    color: $primaryColor;
}

.footer-social {
    display: flex;
    justify-content: center;
}

.social-link {
    margin-left: 8px;
    margin-right: 8px;
    transition: color 0.5s;
}

.social-link:hover {
    cursor: pointer;
    color: $primaryColor;
}