// COLORS
$primaryColor: #ff6b6c;
$backgroundColor: white;
$secondaryColor: #5B5F97;

$darkGrey: #333333;

$primaryButtonColor: #ff6b6c;

$white: #FFFFFB;
$pink: #ff6b6c;
$darkBlue: #5b5f97;
$lightBlue: #b8b8d1;
$yellow: #FFC145;

