.search-bar {       
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;    
}

.search-bar__input {
    margin-left: 8px;
    flex: 1;
}

.search-bar input,
.search-bar textarea {    
    width: 100%;
    outline: none;
    border-color: transparent;    
}