@import '../../index';

.header {
    background-color: transparent;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;        
}

.header-item {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 12px;
}

// .nav-links {
//     width: 100vw;
//     display: flex;
//     justify-content: center;
// }

.header-left {
    width: 200px;
    display: flex;
    justify-content: start; 
}

.header-right {
    width: 200px;
    display: flex;
    justify-content: end; 
}

.toggle {
    margin-top: 16px;
}

.link {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    font-size: 12px;    
}

.active {
    color: #161528;
    font-weight: 700;
}

.dark-mode {
    color: white;    
}

.light-mode {
    color: #2F4F4F;
}
