.campaign-item {
    margin-bottom: 20px;  
    padding: 20px;  
    cursor: pointer;
    text-decoration: none !important;
}

.link {
    text-decoration: none !important;
}

h4 {
    padding: 0;
    margin: 0;
}