// @import "~bootstrap/scss/bootstrap";

.dark-mode {
    background-color: #161528;
    color: white;
}

/* .dark-mode h1 h2 h3 h4 h5 h6 {
    color: white;
} */

.light-mode {
    background-color: #fffded;
    color: #333333;
}

.light-mode a {
    color: #333333;
}

.dark-mode a {
    color: white;
}

p {
    font-size: 12px;
}

/* .light-mode h1 h2 h3 h4 h5 h6 {
    color: #161528;
} */
