.dark-mode {    
    background-color: #161528;
    color: white;
}

.light-mode {
    background-color: #FFFDED;
    color: #333333;
}

.light-mode a {
    color: #333333;
}

.dark-mode a {
    color: white;
}

p {
    font-size: 12px;
}
