body {
  margin: 0;
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 12px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @value yellow: #FCE762; */
